<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap-5/bootstrap.css" rel="stylesheet" />
    <link href="/css/stylesTemp.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home</title>
</head>
<body>
    <main class="page-container">
        <div>
            <%- include("partials/navbar") %>
        </div>

        <div class="content">

            <div class="d-flex justify-content-center align-items-center pt-3">
                <% if (isAuth) { %>
                    <a href="/article/edit/<%= shark_name.replace(/\s+/g, '_') %>" class="btn btn-dark rounded-pill px-4">Edit page</a>
                    <form action="/article/firebase-delete/<%= shark_name.replace(/\s+/g, '_') %>" method="POST">
                        <input type="hidden" name="shark_name" value="<%= shark_name.replace(/\s+/g, '_') %>">
                        <button type="submit" class="ms-2 btn btn-danger rounded-pill px-4">Delete Page</button>
                    </form>
                <% } %>
            </div>

            <div class="shark-title mb-5">
                <h1 name="title-box" id="shark_name"><%= shark_name %> </h1>
                <p name="title-box" id="science_name"><%= scientific_name %> </p>
            </div>
            

            <div class="article-card d-flex">
                <div class="shark-image" style="background-image: url('<%= shark_image_base64 %>')">
                    <div class="info-bar">
                        <div class="info-bar-content">

                            <p class="info-bar-title">Habitat</p>
                            <p class="info-bar-subtitle"><%= habitat %></p>

                            <p class="info-bar-title">Length</p>
                            <p class="info-bar-subtitle"><%= length %></p>

                            <p class="info-bar-title">Weight</p>
                            <p class="info-bar-subtitle"><%= weight %></p>

                            <p class="info-bar-title">Lifespan</p>
                            <p class="info-bar-subtitle"><%= lifespan %></p>
                            
                            <p class="info-bar-title">Speed</p>
                            <p class="info-bar-subtitle"><%= speed %></p>
                            
                            <p class="info-bar-title">Conservation</p>
                            <p class="info-bar-subtitle"><%= status %></p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="shark-description">
                <div id="shark-content" class="shark-content"></div>
            </div>
        </div>


            
        <div>
            <%- include("partials/footer") %>
        </div>
        
    </main>

    <script src="js/multiverse/jquery.min.js"></script>
    <script src="js/multiverse/jquery.poptrox.min.js"></script>
    <script src="js/multiverse/browser.min.js"></script>
    <script src="js/multiverse/breakpoints.min.js"></script>
    <script src="js/multiverse/util.js"></script>
    <script src="js/multiverse/main.js"></script>
    <!-- Scripts -->
     <script>

            const sharkContent = `<%- shark_content %>`;
            const html = marked.parse(sharkContent);
            console.log(sharkContent);
            document.getElementById('shark-content').innerHTML = html;


     </script>
</body>
</html>