<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap-5/bootstrap.css" rel="stylesheet" />
    <link href="/css/stylesTemp.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body>
    <main class="page-container">
        <div>
            <%- include("partials/navbar") %>
        </div>

        <div class="content">

            <div class="d-flex justify-content-center align-items-center pt-3">
                <% if (isAuth) { %>
                    <a href="/article/edit/<%= shark_name.replace(/\s+/g, '_') %>" class="btn btn-dark rounded-pill px-4">Edit page</a>
                    <form action="/article/firebase-delete/<%= shark_name.replace(/\s+/g, '_') %>" method="POST">
                        <input type="hidden" name="shark_name" value="<%= shark_name.replace(/\s+/g, '_') %>">
                        <button type="submit" class="ms-2 btn btn-danger rounded-pill px-4">Delete Page</button>
                    </form>
                <% } %>
            </div>

            <div class="shark-title mb-5">
                <h1><%= shark_name %></h1>
            </div>

            <div class="article-card d-flex">
                <div class="shark-image" style="background-image: url('<%= shark_image_base64 %>')">
                    <div class="info-bar">
                        <div class="info-bar-content">
                            <p class="info-bar-title">Scientific Name</p>
                            <p class="info-bar-subtitle"><%= scientific_name %></p>

                            <p class="info-bar-title">Habitat</p>
                            <p class="info-bar-subtitle">Shark Name</p>

                            
                            <p class="info-bar-title">Diet</p>
                            <p class="info-bar-subtitle">Shark Name</p>

                            <p class="info-bar-title">Length</p>
                            <p class="info-bar-subtitle">Shark Name</p>

                            <p class="info-bar-title">Weight</p>
                            <p class="info-bar-subtitle">Shark Name</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shark-description">
                <p><%= shark_content %></p>
            </div>
        </div>


            
        <div>
            <%- include("partials/footer") %>
        </div>
        
    </main>

    <!-- Scripts -->
    <script src="js/multiverse/jquery.min.js"></script>
    <script src="js/multiverse/jquery.poptrox.min.js"></script>
    <script src="js/multiverse/browser.min.js"></script>
    <script src="js/multiverse/breakpoints.min.js"></script>
    <script src="js/multiverse/util.js"></script>
    <script src="js/multiverse/main.js"></script>
</body>
</html>