<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap-5/bootstrap.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />

    <title>Home</title>
</head>
<body>
    <div>
        <%- include("partials/navbar") %>
    </div>
    <main>
        
        <div class="shark-title">
            <h1><%= shark_name %></h1>
            <p><%= scientific_name %></p>
        </div>

        <div class="target" style="background-color:red">
            <container id="page_image" style="background-image: url('images/sharks/Whaleshark.jpg')">
                <div class="right-bar">
                    <p class="title">Name</p>
                    <p class="content">Whale shark</p>
                    <p class="title">Name</p>
                    <p class="content">Whale shark</p>
                    <p class="title">Name</p>
                    <p class="content">Whale shark</p>
                    <p class="title">Name</p>
                    <p class="content">Whale shark</p>
                    <p class="title">Name</p>
                    <p class="content">Whale shark</p>
                </div>
            </container>
        </div>

        <p class="container">
            Information about the shark
        </p>

        <div>
            <%- include("partials/footer") %>
        </div>
    </main>

    <!-- Scripts -->
    <script src="js/multiverse/jquery.min.js"></script>
    <script src="js/multiverse/jquery.poptrox.min.js"></script>
    <script src="js/multiverse/browser.min.js"></script>
    <script src="js/multiverse/breakpoints.min.js"></script>
    <script src="js/multiverse/util.js"></script>
    <script src="js/multiverse/main.js"></script>

    <script>
        window.onload = function() {
            const base64Image = '<%= shark_image_base64 %>';
            const container = document.getElementById('page_image');
            if (base64Image) {
                container.style.backgroundImage = `url(data:image/jpeg;base64,${base64Image})`;
            }
        };
    </script>
</body>
</html>